<h1>This is category.ejs</h1>
<p><%- page.lang %></p>
<div class="works">
  <% page.posts.forEach(function(post){ %>
  <a href="<%-  url_for(post.path) %>">
    <div class="index-work">
      <img class="top-image" src="<%- url_for(post.path+'top.png') %>" alt="<%- post.title %>" />
      <div class="top-text">
        <h3><%- post.title %></h3>
      </div>
    </div>
  </a>
  <% }) %>
</div>
