<div class="works">
  <% 
  site.posts.sort("-date").forEach(function(post){
    if(post.lang == page.lang){
      // 言語がpageとpostで一致
      if(post.categories.some(category => category.name === 'work')){
        // カテゴリーがwork
        const categories = post.categories.map(category => category.slug).filter(item => item.includes("work/") && !item.includes("other")).map(item => item.replace("work/", ""))
  %>
    <div class="index-work work_category <%- categories.join(" ") %>">
      <a href="<%-  url_for(post.path) %>">
        <div class="image_wrapper">
          <img class="top-image" src="<%- url_for(post.path+post.cover_image).replace("en/", "")%>" alt="<%- post.title_show %>" />
        </div>
        <div class="top-text">
          <p style="font-size:75%;text-align:right;"><%- post.date.format("YYYY-MM")%></p>
          <p><%- post.title_show %></p>
        </div>
      </a>
    </div>
  <%  
      }
    }
  })
  %>
  </div>
  