<head>
  <%- partial('google-analytics') %>
  <%
  var title = page.title_show;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    <!-- title = __('category') + ': ' + page.category; -->
    title = page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }

  let cover_image_path;
  if(page.cover_image){
    cover_image_path = url_for( page.path.replace("en/", "") + "/" + page.cover_image)
  }else{
    // 最新のwork
    cover_image_path = site.posts.sort("-date").filter(post => post.categories.some(category => category.name === "work")).map(post => post.path)[0].replace("en", "") + "top.jpg"
  }

  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="alternate" hreflang="ja" href="<%-url_for('/')%>">
  <link rel="alternate" hreflang="en" href="<%-url_for('en/')%>">
  <%- open_graph({twitter_id: "kyu_yukirinrin", twitter_card: "summary_large_image", image:cover_image_path, title: title, description: "created by Kiyu"}) %>
  <% if (theme.rss){ %>
  <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/css/slider-pro.min.css" rel="stylesheet">
  <link rel="alternate" href="/atom.xml" title="Kiyu" type="application/atom+xml">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/js/jquery.sliderPro.min.js"></script>
  <script src="https://kit.fontawesome.com/52728bdb71.js"></script>
  <%- css('css/style') %>
  <%- css('css/humberger') %>
  <%- js('js/main') %>

</head>
